<a href="https://colab.research.google.com/github/Ayantika1998/Data-Structure_Python/blob/main/Python_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Type of  Data Structures**



*   The basic Python data structures in Python include list, set, tuples, and dictionary. 
*   Each of the data structures is unique in its own way. 

*   Data structures are “containers” that organize and group data according to type.
*   The data structures differ based on mutability and order.

## **Lists**

* The list can be defined as an abstract data type in which the elements are stored in an ordered manner for easier and efficient retrieval of the elements. 
* List Data Structure allows repetition that means a single piece of data can occur more than once in a list.

In [ ]:
my_list = ['a','b','c','8'] #creating a list named my_list

In [ ]:
#we can call any element from list by its index position, for example let us call element 'b'
my_list[1] #index from left

'b'

In [ ]:
#let us check what functionality is supported with list
dir(my_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**Some Important Functionality**

In [ ]:
#append() - let us append both sting and numerical element to my_list
my_list.append('d')
my_list.append(4)

In [ ]:
my_list

['a', 'b', 'c', '8', 'd', 4]

In [ ]:
my_list[-1] # index from left

4

In [ ]:
#pop( ) - returns last item if index is not specified and removes it from the list
my_list.pop(4)
my_list

['a', 'b', 'c', '8', 4]

In [ ]:
#insert( ) -inserts item at a specific index location
my_list.insert(8,14)
my_list

['a', 'b', 'c', '8', 4, 14, 14]

**Nested List**

In [ ]:
 # we can also create a nested list
 nest_list = [1,2,3,[4,5,['A']]]

In [ ]:
#let us call element A
nest_list[3][2][0]

'A'

## **Set**

* A set is a data structure that are associative containers and store unique elements. 
* A stored element must be unique because it is identified with the value itself. 
* It is UNINDEXED and  UNORDERED

In [ ]:
my_set = {1,2,'A',1,False,1,'B',3,0,3,'A',2,2,'B',1,2}##creating a set named my_set

In [ ]:
my_set #it returns all unique inputs

{1, 2, 3, 'A', 'B', False}

Here  a point to noted that False in Python refer to 0. So Either False or 0whatever comes first any one will be returned.

In [ ]:
#let us check what functionality is supported with set
dir(my_set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**Some Important Functioanlity**

In [ ]:
#add( ) - adds item to a set
my_set.add('C')

In [ ]:
#update( ) - to add multiple items to a set at a time
my_set.update('4','8')

In [ ]:
#Union( ) - it returns a new set with all items from both sets
my_set2 = {4, 6, 3, 'A', 'C', True}
my_set_U = my_set.union(my_set2)
my_set_U

{1, 2, 3, 4, '4', 6, '8', 'A', 'B', 'C'}

In [ ]:
 #intersection() -return a new set, that only contains the items that are present in both sets
my_set_I = my_set.intersection(my_set2)
my_set_I

{3, 'A', 'C', True}

## **Tuple**



*   A tuple is a built-in data structure in Python that is an ordered collection of objects. Unlike lists, tuples come with limited functionality.

 
*   The primary differing characteristic between lists and tuples is mutability. Lists are mutable, whereas tuples are immutable.

In [ ]:
my_tuple = (1,2,2,3) #creating a tuple named my_tuple

In [ ]:
my_tuple

(1, 2, 2, 3)

In [ ]:
#elememt can be called by index position 
my_tuple[3]

3

In [ ]:
#let us check what functionality is supported with tuple
dir(my_tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**Some Important Functionality**

In [ ]:
#index() - elememt can be called by index position 
my_tuple.index(2)

1

In [ ]:
#count() -let us count no. of element in a tuple
my_tuple.count(2)

2

## **Dictionary**

* Dictionary is one of the important Data Structures that is usually used to store data in the key-value format. 
* Each element presents in a dictionary data structure compulsorily have a key and some value is associated with that particular key.
* The relation or association between the key and the value is known as the mapping. keys are indexes, elements are values.
* Like list we can perform many operations in dictionary

In [ ]:
my_d = {'k1':'item1','k2':'item2','2':'A', 'States':'Punjab'} #creating a dictioanry named my_d

In [ ]:
my_d

{'k1': 'item1', 'k2': 'item2', '2': 'A', 'States': 'Punjab'}

In [ ]:
#we can call any element by its key
my_d['k2']

'item2'

In [ ]:
# to see tuples in form of key value format
for c,d in my_d.items():
  print("Key = ", c, end=",")
  print(" Value = ", d)

Key =  k1, Value =  item1
Key =  k2, Value =  item2
Key =  2, Value =  A
Key =  States, Value =  Punjab

In [ ]:
#let us check what functionality is supported with dictionary
dir(my_d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**Some Important Functioanlities**

In [ ]:
#keys() -  returns all the keys and only keys
my_d.keys()

dict_keys(['k1', '2', 'States'])

In [ ]:
#value() -returns only the values of all the keys
my_d.values()

dict_values(['item1', 'A', 'Punjab'])

In [ ]:
#pop( ) -specified key value will be returned and removed from the dictionary
my_d.pop('k1')

'item1'

In [ ]:
#update( ) -  used to add new items and can also be used to update existing key and values
my_d.update({'8': "Kolkata"})